<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2eXd-jkVUVguE-uojrA-Skh3xMIm6sAw</string>
	<key>GCM_SENDER_ID</key>
	<string>1098961605624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.micarro</string>
	<key>PROJECT_ID</key>
	<string>micarro-ce44c</string>
	<key>STORAGE_BUCKET</key>
	<string>micarro-ce44c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098961605624:ios:f84291f42b4c0a3e5ffc0d</string>
</dict>
</plist>